@font-face {
    font-family: 'aldo';
    src: url('fonts/Aldo.eot');
    src: local('?'),
        url('fonts/Aldo.woff') format('woff'),
        url('fonts/Aldo.ttf') format('truetype'),
        url('fonts/Aldo.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}