@font-face {
    font-family: 'aller';
    src: url('fonts/Aller.eot.eot');
    src: local('?'),
        url('fonts/Aller.woff') format('woff'),
        url('fonts/Aller.ttf') format('truetype'),
        url('fonts/Aller.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}