/* Estilos generales de la web */

body {
    font-size: 16px;
    font-family: 'aldo', sans-serif;
    background: purple;
    position: relative;
}

/* Estilos del header */

header {
    background: #233D58;
    height: 40px;
    width: 100%;
}

header h1 {
    display: none;
}

/* Estilos de la barra de navegación */

header nav .ioMenuMovil {
    cursor: pointer;
    height: 25px;
    line-height: 40px;
    margin: 0px 0px 0px 10px;
    padding: 5px;
    width: 100px;
}

header nav .ioMenuMovil img {
    height: 100%;
}

header nav #card_menu {
    background: white;
    border-right: 3px solid #AFAEAE;
    display: none;
    left: 0px;
    padding-bottom: 5px;
    position: relative;
    top: -35px;
    width: 230px;
    z-index: 999;
}

header nav #card_menu #hideMenu img {
    padding-top: 15px;
}

header nav #card_menu #logo_menu {
    height: 200px;
    margin: 60px 0px;
    margin-bottom: 40px;
    margin-left: 5%;
    width: 80%;
}

header nav #card_menu #logo_menu img {
    width: 100%;
}

header nav #card_menu ul li {
    font-size: 1.5em;
    line-height: 35px;
    list-style: none;
}

header nav #card_menu ul li a {
    color: black;
    text-decoration: none;
}

/* Estilos de los botones de secciones */

header #prev_section,
header #next_section {
    cursor: pointer;
    height: 25px;
    margin: 5px;
    overflow: hidden;
    position: absolute;
    top: 2px;
    width: 25px;
}

header #prev_section {
    right: 35px;
}

header #next_section {
    right: 5px;
}

header #prev_section i,
header #next_section i {
    color: white;
    font-size: 20px;
    left: 2px;
    position: relative;
    top: 2px;
}

/* Estilos del slider */

#slider {
    height: 600px;
    position: relative;
    width: 100%;
}

#slider section.slide {
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

/* Estilos del formulario de contacto */

#contact_form {
    background: white;
    box-shadow: 0px 0px 3px #9f9e9e;
    font-family: 'aller';
    display: none;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    right: 5px;
    top: 40px;
    width: 250px;
    z-index: 999;
}

#contact_form #close_form {
    height: 30px;
    left: 85%;
    position: absolute;
    top: 195px;
    width: 30px;
}

#contact_form #close_form:hover {
    cursor: pointer;
}

#contact_form #close_form:before {
    content: '\ea0f';
    font-family: 'icomoon';
    left: 7px;
    position: relative;
    top: 5px;
}

#contact_form figure {
    background: #29abe2;
    height: 180px;
    margin: 0px;
    padding: 5px;
    text-align: center;
    width: 100%;
}

#contact_form figure img {
    margin-top: 10px;
    margin-right: 10px;
    height: 90%;
    width: 90%;
}

#contact_form p {
    margin: 20px;
    margin-left: 5%;
    width: 90%;
}

#contact_form input,
#contact_form textarea {
    border: none;
    border-bottom: 2px solid gray;
    display: block;
    font-weight: bold;
    margin: 20px;
    margin-left: 5%;
    margin-bottom: 50px;
    padding-bottom: 5px;
    width: 90%;
}

#contact_form #submitButton {
    background: #F8931F;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px 0px;
}

/* Estilos del botón de contacto */

#contact_button {
    background: #F8931F;
    border-radius: 50%;
    color: white;
    height: 60px;
    position: fixed;
    right: 15px;
    top: 85vh;
    width: 60px;
    z-index: 80;
}

#contact_button:hover {
    cursor: pointer;
}

#contact_button:before {
    content: '\e9f9';
    font-size: 2.8em;
    font-family: 'icomoon';
    left: 7.3px;
    position: relative;
    top: 4.5px;
}

/* Esqueleto Responsive Design */

/* Móviles */
@media screen and (min-width: 480px) {
    body {
        background: red;
    }
}

@media screen and (min-width: 600px) {
    body {
        background: pink;
    }
}

/* Tablet */

@media screen and (min-width: 767px) {

    body {
        background: yellow;
    }

    header {
        height: 50px;
    }

    header h1 {
        display: inline-block;
        height: 50px;
        /*
            Aplico el line-height de 50px para que esté alineado verticalmente
            con la altura del height del header
        */
        line-height: 50px;
        margin: 0px;
        margin-left: 50px;
        min-width: 200px;
        width: 20%;
    }

    header h1 > * {
        color: white;
        display: inline-block;
        font-size: 0.8em;
        margin: 0px 3px;
        text-decoration: none;
        vertical-align: middle;
    }

    header h1 figure {
        height: 40px;
        margin: 0px;
        width: 40px;
    }

    header h1 figure img {
        width: 100%;
    }

    header nav {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        width: 62%;
    }

    header nav #showMenu,
    header nav #hideMenu {
        display: none;
    }

    header nav #card_menu {
        background: none;
        border: none;
        display: inline-block;
        line-height: 50px;
        padding-bottom: 0px;
        position: relative;
        text-align: right;
        top: 0px;
        width: 100%;
    }

    header nav #card_menu figure {
        display: none;
    }

    header nav #card_menu ul {
        margin: 0;
        padding: 0;
    }

    header nav #card_menu ul li {
        display: inline-block;
        font-size: 1.2em;
        margin: 0px -2px;
        text-align: center;
        width: 75px;
    }

    header nav #card_menu ul li a {
        color: white;
    }

    header #prev_section,
    header #next_section {
        border-radius: 30px;
        font-size: 50px;
        height: 60px;
        position: absolute;
        right: 50px;
        width: 60px;
        z-index: 999;
    }

    header #prev_section {
        top: 115px;
    }

    header #next_section {
        top: 190px;
    }

    header #prev_section i,
    header #next_section i {
        color: #29abe2;
        font-size: 50px;
        left: 2px;
        top: 2px;
    }

    #contact_form {
        top: 50px;
        width: 400px;
    }

    #contact_form figure img {
        margin-top: 17px;
        height: 80%;
        width: 80%;
    }

    #contact_button {
        right: 50px;
    }
}

/* Ordenador */

@media screen and (min-width: 950px) {
    body {
        background: green;
    }
}